---
import Head from './../components/Head.astro'
import Card from './../components/Card.astro'
---

<html lang="es">
	<Head />
	<body class="bg-[#101010]">
		<div class="container px-5 sm:mx-auto my-10">
			<header>
				<h1 class="text-7xl mb-10 py-5 text-[#efefef] font-bold">
					Mes 8
					<br>
					 <span class="text_change ">Te amo</span> 
					 <span class="text_change block sm:inline-block py-3"> Mi vida <span>❤️</span> </span>
				</h1>
			</header>
			<Card />
		</div>
	</body>
</html>