---
import Head from "./../components/Head.astro";
import Card from "./../components/Card.astro";
---

<html lang="es">
  <Head />
  <body class="bg-[#101010]">
    <div class="container px-5 sm:mx-auto my-10">
      <header>
        <h1 class="text-7xl mb-10 py-5 font-bold">
          <span class="text-[#efefef]"> Mes 8</span>
          <br />
          <span class="text_change transition-colors duration-500">Te amo</span>
          <span class="text_change transition-colors duration-500 block sm:inline-block py-3">
            Mi vida <span>❤️</span>
          </span>
        </h1>
      </header>
      <Card />
    </div>
    <script>
      const c = [
        "00",
        "11",
        "22",
        "33",
        "44",
        "55",
        "66",
        "77",
        "88",
        "99",
        "AA",
        "BB",
        "CC",
        "DD",
        "EE",
        "FF",
      ];
      const n = () => Math.floor(Math.random() * c.length);

      const app = () => {
        document.querySelectorAll(".text_change").forEach((va) => {
          const color = c[n()] + c[n()] + c[n()];
          va.setAttribute("style", `
		  color: #${color}AA;
		  text-shadow: 0 0 10px #${color}55, 0 0 20px #${color}55, 0 0 30px #${color}55;
		  `);
        });
      };
	  app()
      setInterval(() => {
        app()
      }, 5000);
    </script>
  </body>
</html>
