---
import { ViewTransitions } from 'astro:transitions';
---
<head>
	<meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/co.png" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- Primary Meta Tags -->
    <title>Te amo Less❤️</title>
    <meta name="title" content="Te amo Less❤️"/>
    <meta name="description" content="Te amo Less❤️ Hasta el infinito y mas alla mi vida nunca lo olvides"/>
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
</head>
